<div class="navi-wrapper">
  <ul class="navi-wrap wrapper">
    <li class="menu">공실매물
      <div class="sub-menu-box hide">
        <ul class="sub-menu">
          <li>전체</li>
          <li>일반룸</li>
          <li>풀옵션</li>
          <li>사무실</li>
          <li>상가</li>
          <li>오피스텔</li>
          <li>아파트</li>
        </ul>
      </div>
    </li>
    <li class="menu">공동중개</li>
    <li class="menu">매매정보</li>
    <li class="menu">매물셀프코너</li>
    <li class="menu menu2">커뮤니티</li>
    <li class="menu menu2">고객센터</li>
    <li class="menu menu2">서비스안내</li>
    <li class="menu menu2">MY결제</li>
    <li class="menu menu3">매물의뢰</li>
  </ul>
</div>