@import './common';

.header-wrapper {
  background-color: #f0f3f7;
  width: 100vw;
  height: 40px;
  font-size: 14px;
  display: flex;
  .header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
      display: flex;
      margin-right: auto;
      padding: 0 1em 0 1em;
      div {
        margin-right: 1em;
      }
    }
    .right {
      padding: 0 1em;
      display: flex;
      margin-left: auto;
      div {
        margin-left: 1em;
      }
    }
  }
}

.chat-wrapper {
  margin-top: 3em;
  .chat-table {
    .chat-left {
      .tddd {
        .thumb {
          width: 100px;
        }
        .thumb2 {
          position: absolute;
        }
      }
    }
  }
}
