<header class="header-wrapper">
	<div class="header-wrap wrapper">
		<div class="left">
			<div>즐겨찾기</div>
			<div>이용안내</div>
		</div>
		<div class="right">
			<div>ip:123.123.123.123</div>
			<div>로그아웃</div>
		</div>
	</div>
</header>