<div class="title-wrapper wrapper">
	<div class="title-wrap">
		<div class="img mr-4">
			<img src="../img/slide1.png" class="mw-100">
		</div>
		<div class="search">
			<input type="text" placeholder="예) 역삼동 636-6 or 매물번호 검색">
		</div>
		<div class="auth">
			<div>dlstn4509님 1900-01-01 만기</div>
			<div class="btn">
				<a href="/">결제</a>
			</div>
		</div>
	</div>
</div>