<%- include('../inc/head.ejs') %> 
<%- include('../inc/header.ejs') %>
<div class="canvas-wrapper">
  <div class="canvas-wrap text-center mt-5">
    <canvas id="canvas" style="width: 500px; height: 500px;"></canvas>
  </div>
</div>
<%- include('../inc/foot.ejs') %> 