<%- include('../inc/head.ejs') %> 
<%- include('../inc/header.ejs') %>
<div class="canvas-wrapper">
  <div class="canvas-wrap text-center mt-5">
    <canvas id="canvas" style="border: 1px solid #ff0000;"></canvas>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-success btReset">선 지우기</button>
  </div>
</div>
<%- include('../inc/foot.ejs') %> 