<%- include('../inc/head.ejs') %> 
<%- include('../inc/header.ejs') %>
<div class="form-wrapper wrapper mt-5">
  <div class="form-wrap">
    <form action="/chat/form" method="POST" name="formForm" enctype="multipart/form-data">
      <input type="hidden" name="user_id" value="<%= user.id %>">
      <table class="table">
        <tbody>
          <tr>
            <td>아이디</td>
            <td><input type="text" value="dlstn4509" readonly></td>
          </tr>
          <tr>
            <td>닉네임</td>
            <td><input type="text" name="writer"></td>
          </tr>
          <tr>
            <td>내용</td>
            <td><input type="text" name="content"></td>
          </tr>
          <td style="height: 500px;">
            <td colspan="2" class="text-center" style="vertical-align: middle">
              <img src="" id="blah" class="bigImg" style="max-width: 500px;">
            </td>
          </tr>
          <tr>
            <td>미리보기</td>
            <td>
              <img src="" id="thumb1" style="max-width: 50px;">
              <img src="" id="thumb2" style="max-width: 50px;">
            </td>
          </tr>
          <tr>
            <td>썸네일 이미지</td>
            <td>
              <input class="input" type="file" name="file1" required onchange="readURL(this, '#thumb1');">
              <input type="hidden" id="rotate1" name="rotate1" value="0">
              <button type="button" class="btn btn-primary btn-tring" onclick="imgTring('#thumb1', '#rotate1')">회전</button>
            </td>
          </tr>
          <tr>
            <td>상세이미지</td>
            <td>
              <input class="input" type="file" name="file2" required onchange="readURL(this, '#thumb2');">
              <input type="hidden" id="rotate2" name="rotate2" value="0">
              <button type="button" class="btn btn-primary btn-tring" onclick="imgTring('#thumb2', '#rotate2')">회전</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <button class="btn btn-primary" id="btSave">저장</button>
        <button type="reset" class="btn btn-danger">초기화</button>
      </div>
    </form>
  </div>
</div>
<%- include('../inc/foot.ejs') %> 